.idea/*
node_modules
.DS_Store
**/.DS_Store
.aider*
.env
#prompts
coverage
**/coverage/**/*
**/dist/**/*
#**/__test__/**/*
#**/__tests__/**/*
**/*.tsbuildinfo

!.idea/scopes
!.idea/copyright

.turbo
.cache

*.d.ts
*.d.ts.map