.idea/*
node_modules
.DS_Store
**/.DS_Store
.aider*
.env
#prompts
coverage
**/coverage/**/*
**/dist/**/*
packages/**/src/**/*.js
apps/**/src/**/*.js
**/*.tsbuildinfo

!.idea/scopes
!.idea/copyright

.turbo
.cache

*.d.ts
*.d.ts.map