version: '3.9'

services:
  postgres:
    image: postgres:latest
    container_name: chaingraph-postgres-db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
    ports:
      - '5432:5432'
    volumes:
      - postgres_data_volume:/var/lib/postgresql/data
    restart: always

volumes:
  postgres_data_volume:
