node_modules
.git
.github
.vscode
.turbo
.next
coverage
.env
.env.*
npm-debug.log
dist
.env.local
.env.*.local
.DS_Store
.gitignore
README.md
.idea
.nyc_output
*.swp
*.swo
*~
docker-compose.override.yml