# This is an example .env file for the Chaingraph backend.
# It should be placed in the root of the chaingraph-backend directory.

TRPC_SERVER_HOST=localhost
TRPC_SERVER_PORT=3001

# Database Configuration
DATABASE_URL=postgres://postgres@postgres@127.0.0.1:5432/postgres?sslmode=disable

# Authentication Configuration
AUTH_ENABLED=true
AUTH_DEV_MODE=true

# BadAI Authentication
BADAI_AUTH_ENABLED=false
BADAI_API_URL=http://localhost:9151/graphql
